<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.einheit.matchezy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_white"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_white"
        android:supportsRtl="true"
        android:theme="@style/MainAppTheme">
        <activity android:name=".IntroActivity" />
        <activity android:name=".Registration_Interests"
            android:theme="@style/RegistrationTheme"/>
        <activity android:name=".ProfilePage"
            android:theme="@style/ProfilePageTheme"
            android:parentActivityName=".HomeScreen"/>
        <activity android:name=".Registration"
            android:theme="@style/RegistrationTheme"/>
        <activity
            android:name=".Registration2"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/RegistrationTheme" />
        <activity
            android:name=".Registration3"
            android:theme="@style/RegistrationTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Registration4"
            android:theme="@style/RegistrationTheme"/>
        <activity android:name=".Registration_Imageupload"
            android:theme="@style/RegistrationTheme"/>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_api_key" />

        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" />
        <activity android:name=".OTP"
            android:theme="@style/RegistrationTheme" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Filter">
        </activity>
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".LanguagesPopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseCity"
            android:theme="@style/AppTheme.CustomTheme" />

        <receiver android:name=".MyVerificationReceiver">
            <intent-filter>
                <action android:name="com.twilio.verification.current_status" />
            </intent-filter>
        </receiver>

        <service
            android:name="FcmService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity android:name=".ProfileOptions"
            android:theme="@style/Theme.AppCompat.Translucent">
        </activity>
    </application>

</manifest>